<div class="jumbotron">
	<div class="container">
		<h1>Trail Running Life</h1>
			<p></p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
			</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Races</h2>
			<p>Check out the great races in your area.</p>
			<p><a class="btn btn-default" href="#" role="button">more »</a></p>

		</div>
		<div class="col-md-4">
			<h2>Gear</h2>
			<p>Shop for gear in our store.</p>
			<p><a class="btn btn-default" href="#" role="button">more »</a></p>

		</div>
        <div class="col-md-4">
            <h2>People</h2>
            <p>A list of our great runners</p>
            <p><button class="btn btn-default" (click)="goToPeople()">more »</button></p>

        </div>
        <div class="col-md-4">
            <h3>My Page</h3>
            <p>A list of our great runners</p>
            <p><button class="btn btn-default" (click)="goToPeople()">more »</button></p>

        </div>
	</div>
</div>